.admin-panel-forms {
  position: fixed;
  left: -300px;
  top:0;
  transition: left .3s;

  .group-form, .user-form, {
    @include form-inputs();
  }
}

.login-box {
    @include form-inputs();
  h1 {
    font-size: 1.6em;
  }
  .remeberMe-container {
    margin: 10px 0 15px 0;
    input[type="checkbox"] {
      margin-right: 5px;
    }
  }
}