body {
  font-family: 'Roboto Condensed', sans-serif;
}

.page-container {
  max-width: 1100px;
  padding: 0 30px;
  margin: auto;
  @media (min-width: 1100px) {
    padding: 0;
  }
  
  .login-box-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .admin-panel-container {
    position: relative;
    left: 0;
    transition: left .3s;
    &.menu-open {
      left:300px;
      @media (min-width: 1500px) {
        left: 0;
      }
      .admin-panel-forms {
        left: 0;
      }
    }
    .loader-container {
      text-align: center;
    }
  }
}