@mixin custom-border() {
  border: 1px solid;
  border-radius: 3px;
  padding: 10px 0 10px 10px;
} 


@mixin border-button() {
  @include custom-border();
  
  padding: 10px 15px;
  cursor: pointer;
  background-color: #fff;
}

@mixin form-inputs() {
  width: 260px;
    padding: 20px;
    input:not([type="checkbox"]), select {
      @include custom-border();
      
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 10px;
      &:focus {
        outline: none;
      }
    }
    button {
      @include border-button();
      &:focus {
        outline: none;
      }
    }
  }