.users-list-container {
  margin-bottom: 20px;
  .user-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    & > div {
      flex-basis: 200px;
      flex-grow: 1;
      padding: 10px 0 10px 10px;
      border-right: 1px solid;
      &:last-child {
        border-right: none;
      }
    }
    &:nth-child(2n) {
      border-bottom: none;
      border-top: none;
    }
    &:last-child {
      border-bottom: 1px solid;  
    }
    .user-item__remove {
      flex-basis: 20px;
      padding: 10px;
      text-align: center;
      cursor: pointer;
      transition: color .3s;
      &:hover {
        color: #F44336;
      }
    }
  }
}